[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/aleksandraryutkin/db_config
User=aleksandraryutkin
WorkingDirectory=/home/aleksandraryutkin/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
